<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/_assets/scss/main.scss">
  </head>
  <body>
    <main>
      {{ content | safe }}
    </main>
    <script src="/_assets/js/main.js"></script>
  </body>
</html>